.tabs {
    display: flex;
  }
  
  .burger__ingredients {
    max-width: 600px;
    max-height: 756px;
    overflow-y: scroll;
  }
  
  .burger__ingredients::-webkit-scrollbar {
    width: 8px;
  }
  
  .burger__ingredients::-webkit-scrollbar-track {
    background: #2F2F37;
  }
  
  .burger__ingredients::-webkit-scrollbar-thumb {
    background-color: #8585AD;
  }
  
  .burger__ingredients-list {
    margin: 0;
    padding: 0;
    list-style: none; 
    display: flex; 
    flex-wrap: wrap;
    gap: 24px 32px;
  }