.burger-constructor {
  box-sizing: border-box;
  margin-top: 100px;
  min-width: 600px;
  padding-left: 16px;
  outline: 3px solid;
  min-height: 800px;
}

.burger-constructor__element {
  min-width: 568px;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.burger-constructor__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  margin: 0;
  max-height: 480px;
  overflow-y: scroll;
  
}

.burger-constructor__list::-webkit-scrollbar {
  width: 8px;
}

.burger-constructor__list::-webkit-scrollbar-track {
  background: #2F2F37;
}

.burger-constructor__list::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

.burger-constructor__element-border {
  padding-left: 32px;
  margin-bottom: 16px;
}

.burger-constructor__order {
  margin: 40px 0 0 194px;
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.burger-constructor__order-result{
  display: flex;
  column-gap: 8px;
}

